<div class="row"><!-- first two days -->
<div class="col-md-6"><!-- left column -->
<h3>Tuesday, June 7</h3>
<table class="table table-striped">
<tbody>
<tr><!-- row 1   -->
<td>Before starting</td>
<td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
</tr>
<tr><!-- row 2   -->
<td>Morning</td>
<!-- time    -->
<td><a href="https://datacarpentry.org/spreadsheet-ecology-lesson/">Data Organization in Spreadsheets</a></td>
<!-- content --></tr>
<tr><!-- row 3   -->
<td>&nbsp;</td>
<!-- time    -->
<td><a href="https://datacarpentry.org/OpenRefine-ecology-lesson/">OpenRefine for Data Cleaning</a></td>
<!-- content --></tr>
</tbody>
</table>
</div>
<div class="col-md-6"><!-- right column -->
<h3>Wednesday, June 8</h3>
<table class="table table-striped" style="height: 74px; width: 362px;" width="125">
<tbody>
<tr><!-- row 1   -->
<td style="width: 79.140625px;">&nbsp; Morning</td>
<!-- time    -->
<td style="width: 266.875px;"><a href="https://datacarpentry.org/R-ecology-lesson/">Introduction to R</a>&nbsp; &nbsp; &nbsp; &nbsp;</td>
<!-- content --></tr>
<tr><!-- row 2   -->
<td style="width: 79.140625px;">Afternoon</td>
<!-- time    -->
<td style="width: 266.875px;"><a href="https://datacarpentry.org/R-ecology-lesson/">Continuation of R: Data analysis and Visualization</a></td>
<!-- content --></tr>
<tr><!-- row 3   -->
<td style="width: 79.140625px;">&nbsp;</td>
<!-- time    -->
<td style="width: 266.875px;">&nbsp;</td>
<!-- content --></tr>
</tbody>
</table>
</div>
</div>
<div class="row"><!-- days 3 and 4 -->
<div class="col-md-6"><!-- left column -->
<h3>Thursday, June 9</h3>
<table class="table table-striped" style="height: 113px; width: 353px;" width="128">
<tbody>
<tr><!-- row 1   -->
<td style="width: 69.046875px;">&nbsp; &nbsp; Morning</td>
<!-- time    -->
<td style="width: 267.953125px;">&nbsp;<a href="https://datacarpentry.org/sql-ecology-lesson/">Data Management with SQL</a></td>
<!-- content --></tr>
<tr><!-- row 2   -->
<td style="width: 69.046875px;">Afternoon</td>
<!-- time    -->
<td style="width: 267.953125px;">&nbsp;<a href="https://swcarpentry.github.io/shell-novice/">Introduction to the Unix Shell (If Time)</a></td>
<!-- content --></tr>
<tr><!-- row 3   -->
<td style="width: 69.046875px;">End</td>
<!-- time    -->
<td style="width: 267.953125px;"><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener">Post-workshop survey</a></td>
<!-- content --></tr>
</tbody>
</table>
</div>
<div class="col-md-6">&nbsp;</div>
</div>
